@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  h1 {
    @apply text-3xl font-extrabold font-Inter lg:text-6xl;
  }
  h2 {
    @apply text-5xl font-bold font-Inter;
  }
  h3 {
    @apply text-5xl font-Inter;
  }
  h4 {
    @apply md:text-4xl text-3xl !leading-relaxed font-Inter;
  }
  h6 {
    @apply font-Inter font-bold text-[#253D57] leading-8;
  }
  a {
    @apply font-Inter;
  }
  p {
    @apply font-Inter text-[0.95rem];
  }
  button {
    @apply font-Inter;
  }
  input,
  textarea {
    @apply bg-transparent outline-none font-Inter;
  }
}
@layer components {
  .label-selected {
    @apply bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300;
  }
  .label {
    @apply bg-blue-400 text-blue-900 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300;
  }
}
@layer utilities {
  .btn {
    @apply py-2 font-medium bg-blue-500 border-2 rounded-md px-9 rounded-br-3xl;
  }
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
    animation: rotation 1s linear infinite;
    margin: 0 auto;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
